<div class="sidebar col-md-4 ">
  <ul class="menu-list">
    <li class="list-item">
      <%= link_to 'マイページ', public_mypage_root_path, class:'list-link' %>
    </li>
    <li class="list-item">
      <%= link_to '記事作成',  new_public_mypage_article_path, class:'list-link' %>
    </li>
    <li class="list-item">
      <%= link_to '商品作成',  new_public_paid_article_path, class:'list-link' %>
    </li>
    <li class="list-item">
      <%= link_to 'お知らせ作成', new_public_paid_article_notification_path, class:'list-link' %>
    </li>
    <li class="list-item">
      <%= link_to '出品履歴', public_root_path, class:'list-link' %>
    </li>
    <li class="list-item">
      <%= link_to '購入履歴', public_root_path, class:'list-link' %>
    </li>
    <li class="list-item">
      <%= link_to '売上確認', public_root_path, class:'list-link' %>
    </li>
    <li class="list-item">
      <%= link_to '会員情報変更', public_root_path, class:'list-link' %>
    </li>
    <li class="list-item">
      <%= link_to 'メールアドレス変更', public_root_path, class:'list-link' %>
    </li>
    <li class="list-item">
      <%= link_to 'パスワード変更', public_root_path, class:'list-link' %>
    </li>
  </ul>
</div>
