<footer class="global_footer">
  <div class="footer_wrapper">
    <div class="footer_start">
      <div class="footer_signature">
        <%= link_to 'ShareBrain', public_root_path, class:'footer_menu_logo_link' %>
      </div>
      <div class="footer_copy_right">
        <span>© 2021-2022</span>
      </div>
    </div>
    <div class="footer_menu_container">
      <section class="footer_menu_list_container">
        <dl class="footer_menu_list">
          <dt class="footer_menu_title">
            運営
          </dt>
          <dd class="footer_menu_item">
            <%= link_to '会社概要', public_root_path, class:'footer_menu_link' %>
          </dd>
          <dd class="footer_menu_item">
            <%= link_to '採用情報', public_root_path, class:'footer_menu_link' %>
          </dd>
          <dd class="footer_menu_item">
            <%= link_to 'ShareBrain Blog', public_root_path, class:'footer_menu_link' %>
          </dd>
        </dl>
      </section>
      <section class="footer_menu_list_container">
        <dl class="footer_menu_list">
          <dt class="footer_menu_title">
            ガイドとヘルプ
          </dt>
          <dd class="footer_menu_item">
            <%= link_to 'About', public_root_path, class:'footer_menu_link' %>
          </dd>
          <dd class="footer_menu_item">
            <%= link_to '利用規約', public_root_path, class:'footer_menu_link' %>
          </dd>
          <dd class="footer_menu_item">
            <%= link_to 'プライバシーポリシー', public_root_path, class:'footer_menu_link' %>
          </dd>
          <dd class="footer_menu_item">
            <%= link_to 'ガイドライン', public_root_path, class:'footer_menu_link' %>
          </dd>
          <dd class="footer_menu_item">
            <%= link_to 'ご意見', public_root_path, class:'footer_menu_link' %>
          </dd>
          <dd class="footer_menu_item">
            <%= link_to 'ヘルプ', public_root_path, class:'footer_menu_link' %>
          </dd>
        </dl>
      </section>
      <section class="footer_menu_list_container">
        <dl class="footer_menu_list">
          <dt class="footer_menu_title">
            コンテンツ
          </dt>
          <dd class="footer_menu_item">
            <%= link_to 'リリースノート', public_root_path, class:'footer_menu_link' %>
          </dd>
          <dd class="footer_menu_item">
            <%= link_to 'イベント', public_root_path, class:'footer_menu_link' %>
          </dd>
          <dd class="footer_menu_item">
            <%= link_to 'API', public_root_path, class:'footer_menu_link' %>
          </dd>
        </dl>
      </section>
    </div>
  </div>
</footer>
