<section class='form-wrapper'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-md-6'>
        <div class='form-horizontal'>
          <span class='heading'>ユーザー情報登録</span>
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f| %>
            <%= f.hidden_field :confirmation_token %>
            <%= devise_error_messages! %>
            <div class='primary-form'>
              <%= f.label :icon_image %>
              <%= f.file_field :icon_image, class: 'form-control' %>
            </div>
            <div class='primary-form'>
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class='primary-form'>
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class='primary-btn'>
              <%= f.submit 'Sign up', class: 'btn btn-info' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
