<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <%= @paid_article.title %>
        <p>
          <%= @paid_article.price %> 円
        </p>
        <p>
          <%= @paid_article_order.payment_method %>
        </p>
        <%= form_with model: [:public, @paid_article, @paid_article_order], method: :post, local: true do |f| %>
          <%= f.submit '修正する', name: :payment_method, class: 'btn btn-info' %>
          <%= f.submit '購入確定', class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
