<% if @paid_article.present? %>
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <%= @paid_article.title %>
          <p>
            <%= @paid_article.price %> 円
          </p>
          <%= form_with model: [@paid_article, @paid_article_order], url: confirm_public_paid_article_paid_article_orders_path, local: true do |f| %>
            <%= f.select :payment_method, PaidArticleOrder.payment_methods.keys, { class: 'form-control' , required: true } %>
            <%= f.submit '購入内容を確認', class: 'btn btn-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <%= @article.title %>
          <p>
            <%= @article.content_data.price %> 円
          </p>
          <%= form_with model: [@article, @article_order], url: confirm_public_paid_article_paid_article_orders_path, local: true do |f| %>
            <%= f.select :payment_method, PaidArticleOrder.payment_methods.keys, { class: 'form-control' , required: true } %>
            <%= f.submit '購入内容を確認', class: 'btn btn-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
