<div class="container">
  <div class="row">
    <div class="col">
      <div class="form mb-3">
        <%= form_with model: @paid_article_notification, url: public_mypage_paid_article_notifications_path, method: :post, local: true do |f| %>
          <%= render 'public/mypage/paid_article_notifications/form', paid_articles: @paid_articles, f: f %>
        <% end %>
      </div>
      <% @paid_article_notifications.each do |paid_article_notification| %>
        <div class="card">
          <div class="d-flex justify-content-between">
            <div class="left_box">
              <%= link_to [:public, :mypage, paid_article_notification] do %>
                <p><%= paid_article_notification.title %></p>
              <% end %>
            </div>
            <div class="right-box">
              <p><%= link_to '編集', edit_public_mypage_paid_article_notification_path(paid_article_notification), class: 'btn btn-secondary' %></p>
              <p><%= link_to '削除', public_mypage_paid_article_notification_path(paid_article_notification), method: :delete, data: { confirm: '本当に削除して良いですか?'}, class: 'btn btn-danger' %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
