<%= simple_form_for([:public, paid_article]) do |f| %>
  <div class="card-body">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= f.input :main_image %>
    <%= f.input :title, placeholder: 'タイトル' %>
    <%= f.input :body, placeholder: '本文：Markdownで記述できます' %>
    <%= f.input :price %>
    <%= f.input :published_at, html5: true %>
    <%= f.input :publish_status, selected: 'published' %>
    <%= f.input :attachment_file %>

    <div class="card-footer">
      <%= f.submit class: 'btn btn-submit' %>
    </div>
  </div>
<% end %>
