<div class="container-fluid">
  <!-- /.row -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">ユーザー一覧</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
          <table class="table table-head-fixed text-nowrap">
            <thead>
            <tr>
              <th>ID</th>
              <th>名前</th>
              <th>email</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                  <%= link_to '詳細', admin_user_path(user), class: 'btn btn-secondary' %>
                  <%= link_to '編集', edit_admin_user_path(user), class:'btn btn-info' %>
                  <%= link_to '削除', admin_user_path(user), method: :delete, class:'btn btn-danger' %>
                  <%= link_to 'ブロック', admin_user_block_user_informations_path(user), method: :post, class: 'btn btn-danger' %>
                  <%= link_to 'ブロック解除', admin_root_path,  class: 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
